<nav style="padding:40px; padding-bottom: 25px; padding-top: 45px;margin-bottom: 20px; background-color: rgba(186, 78, 248, 0.418);border-bottom: solid purple 2px;">
  <div>
    
    <ul>
      <a style="text-decoration: none; font-size: 3em; margin-right: 450px; font-weight: bolder; color: rgb(131, 5, 148); background-color: aliceblue; padding: 8px; border-radius: 10px;">& Exportação IFood </a>
      <a routerLink="" style="text-decoration: none; font-size: 2em; margin-right: 20px; font-weight: bold;">Login</a>
      <a routerLink="table" style="text-decoration: none; font-size: 2em; margin-right: 100px; font-weight: bold;">Tabela</a>
    </ul>
  </div>
</nav>
<div style="margin: 40px;">
  <router-outlet></router-outlet>
</div><!-- <po-page-default p-title="Exportação Produtos IFood">
  <app-table></app-table>
</po-page-default> -->