<nav style="padding:40px; padding-bottom: 25px; padding-top: 45px;margin-bottom: 20px; background: linear-gradient(#e6e4e4, #ffffff); border-bottom: solid rgb(142, 16, 232) 1px;">
  <div style="display:flex ">
    
    <ul>
      <a style="text-decoration: none; font-size: 3em; margin-right: 450px; font-weight: bolder; color: rgb(247, 245, 248); background-color: rgba(142, 16, 232, 0.838); padding: 8px; border-radius: 10px;">& Exportação IFood </a>
    </ul>
    <ul>
      <a routerLink="" style="text-decoration: overline; font-size: 2em; margin-right: 20px; font-weight: bold; color: rgb(92, 1, 92);">Login</a>
      <a routerLink="table" style="text-decoration: underline; font-size: 2em; margin-right: 100px; font-weight: bold;">Tabela</a>
    </ul>
  </div>
</nav>
<div style="width: 95%; margin: 30px;">
  <router-outlet></router-outlet>
</div>