<po-modal #modal p-title="Exportações IFood">
  <form>
    <!-- validar por aqui  -->
    <div class="po-row">
      <po-select
        class="po-md-10"
        name="empresa"
        p-label="Empresa"
        [p-options]="empresas"
        [(ngModel)]="dados.idEmpresa"
        required="true"
      >
      </po-select>

      <po-checkbox
        class="po-mt-5 po-ml-4"
        name="checkbox"
        [(ngModel)]="dados.ativo"
        p-label="Ativo"
        [p-disabled]="!checkboxOn"
      >
      </po-checkbox>
    </div>

    <po-select
      p-label="Segmento"
      name="segmentos"
      class="po-md-12"
      [p-options]="segmentos"
      [(ngModel)]="dados.idSegmento"
      required="true"
    >
    </po-select>

    <div class="po-row">
      <po-decimal
        class="po-md-6"
        name="idLoja"
        [(ngModel)]="dados.idLojaIFood"
        p-label="ID Loja"
      >
      </po-decimal>

      <po-select
        p-label="Categoria"
        name="categorias"
        class="po-md-6"
        [p-options]="categorias"
        [(ngModel)]="dados.idCategoria"
        required="true"
      >
      </po-select>
    </div>
  </form>

  <po-modal-footer>
    <po-button
      class="po-mr-4"
      p-label="Salvar"
      p-kind="primary"
      [p-disabled]="isDisabled()"
      (click)="Salvar()"
    >
    </po-button>
  </po-modal-footer>
</po-modal>

<po-button p-label="Adionar Empesa/Segmento" (p-click)="modal.open()" (p-click)="AtivarCheckbox()">
</po-button>
